html {
    background-color: #111;
}

body {
    max-width: 100vw;
    margin: 0 auto;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: clamp(1rem, 10vw, 10rem);
    color: white;
    line-height: 1;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: clamp(.8rem, 4vw, 6rem);
    color: white;
    margin-bottom: 0.5vw;
    line-height: 1;
}

label {
    cursor: none;
}

.grid-list {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.column2 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
}

figure {
    display: flex;
    /* margin-bottom: 2rem; */
    width: 100%;
    position: relative;
}

figure img {
    border: 1rem #000 solid;
    max-width: auto;
    width: 100%;
    min-width: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.column1-text, .column2-text {
    /* transition: opacity .5s; */
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1rem, 1.2vw, 3rem);
    z-index: 300;
    pointer-events: none;
    position: absolute;
    color: white;
    width: 40vw;
}

.column1-text {
    top: 30%;
    left: 110%
}

.column2-text {
    top: 30%;
    left: -90%
}



